# Vivado junk
**/*.log
**/*.jou
**/*.str
**/*.os
**/metadata/
**/.Xil/

# Generated folders (The heavy stuff)
**/fpga_labor.cache/
**/fpga_labor.gen/
**/fpga_labor.hw/
**/fpga_labor.ip_user_files/
**/fpga_labor.runs/
**/fpga_labor.sim/

# Ignore the whole Vitis workspace by default
**/vitis/

# But DO track these specific source folders
!**/vitis/**/src/
!**/vitis/**/*.c
!**/vitis/**/*.h
!**/vitis/**/*.cpp