# Vivado logok és szemetek
*.jou
*.log
*.str
*.dmp
*.zip
*.xsa

# Vivado generált mappák
fpga_labor/fpga_labor.cache/
fpga_labor/fpga_labor.gen/
fpga_labor/fpga_labor.hw/
fpga_labor/fpga_labor.runs/
fpga_labor/fpga_labor.sim/
.Xil/

# Vitis workspace mappák
fpga_labor/vitis/_ide/
fpga_labor/vitis/kv260_platform/

# Vitis C/C++ build fájlok (hogy csak a források maradjanak)
Debug/
Release/
*.o
*.d
*.elf
*.bin
*.a
*.dcp
fpga_labor/fpga_labor.ip_user_files/