<head>
    <style>

        body 
        { 
          font-family:arial; 
          font-size: 11pt; 
          text-align:center; 
        } 
        div.header 
        { 
          padding-top: 7px; 
          padding-bottom: 7px; 
          color:#003399; 
          background-color: #D0D0D0; 
          width=100%; 
          font-family:arial; 
          font-size:14pt; 
          font-weight: bold; 
          text-align: center; 
        } 
        table.drctable 
        { 
          border-color: #B0B0B0; 
          border-style:solid; 
          border-width:1px; 
          border-spacing:0px; 
          border-collapse:collapse; 
          width=75%; 
          font-family:couriernew; 
          font-size: 11pt; 
        }
        table.drctable th 
        { 
          background-color: #F0F0F0; 
          border-color: #B0B0B0; 
          border-width:1px; 
          color: darkslategray; 
          font-weight:bold; 
        } 
        table.drctable td 
        { 
          text-align:left; 
        }        

    </style>
</head>
<body>
    <p>
        <div class="header">DRC Report: cpu_system</div>
    </p>
    <table class="drctable" align="left" border="1" width="75%" cellspacing="0" cellpadding="4">
        <tr>
            <th>Status</th>
            <th>Message</th>
            <th>Details</th>
        </tr>
        <tr>
            <td style="padding-left:20px">
                <img width="16" height="16" src="C:\Microchip\Libero_SoC_2025.1\Libero_SoC\Designer/data/drcreport\warn.png" alt="Warning" title="Warning"/>
            </td>
            <td>
                <a href="liberoaction://cross_probe/smartdesign/cpu_system/pins/COREAXI4INTERCONNECT_C0_0:AXI4mslave0"> bus interface ID width mismatch</a>
            </td>
            <td> There is an ID width mismatch between COREAXI4INTERCONNECT_C0_0:AXI4mslave0:SLAVE0_AWID[0-8] and COREAXI4PROTOCONV_C0_0:AXI4L_TRGT:[0--1] which may result in a loss of data.</td>
        </tr>
        <tr>
            <td style="padding-left:20px">
                <img width="16" height="16" src="C:\Microchip\Libero_SoC_2025.1\Libero_SoC\Designer/data/drcreport\warn.png" alt="Warning" title="Warning"/>
            </td>
            <td>
                <a href="liberoaction://cross_probe/smartdesign/cpu_system/pins/COREAXI4INTERCONNECT_C1_0:AXI4mmaster0"> bus interface data width mismatch</a>
            </td>
            <td> There is a data width mismatch between COREAXI4INTERCONNECT_C1_0:AXI4mmaster0:MASTER0_RDATA[0-31] and COREAXI4PROTOCONV_C0_0:S2MM_AXI4MM_INITR:[0--1] which may result in a loss of data.</td>
        </tr>
        <tr>
            <td style="padding-left:20px">
                <img width="16" height="16" src="C:\Microchip\Libero_SoC_2025.1\Libero_SoC\Designer/data/drcreport\warn.png" alt="Warning" title="Warning"/>
            </td>
            <td>
                <a href="liberoaction://cross_probe/smartdesign/cpu_system/pins/COREAXI4INTERCONNECT_C1_0:AXI4mmaster1"> bus interface ID width mismatch</a>
            </td>
            <td> There is an ID width mismatch between COREAXI4INTERCONNECT_C1_0:AXI4mmaster1:MASTER1_BID[0-0] and COREAXI4PROTOCONV_C0_0:MM2S_AXI4MM_INITR:[0--1] which may result in a loss of data.</td>
        </tr>
        <tr>
            <td style="padding-left:20px">
                <img width="16" height="16" src="C:\Microchip\Libero_SoC_2025.1\Libero_SoC\Designer/data/drcreport\warn.png" alt="Warning" title="Warning"/>
            </td>
            <td>
                <a href="liberoaction://cross_probe/smartdesign/cpu_system/pins/MPFS_DISCOVERY_KIT_MSS_0:FIC_0_DLL_LOCK_M2F">Floating Driver</a>
            </td>
            <td>Floating output pin MPFS_DISCOVERY_KIT_MSS_0:FIC_0_DLL_LOCK_M2F</td>
        </tr>
        <tr>
            <td style="padding-left:20px">
                <img width="16" height="16" src="C:\Microchip\Libero_SoC_2025.1\Libero_SoC\Designer/data/drcreport\warn.png" alt="Warning" title="Warning"/>
            </td>
            <td>
                <a href="liberoaction://cross_probe/smartdesign/cpu_system/pins/MPFS_DISCOVERY_KIT_MSS_0:FIC_1_DLL_LOCK_M2F">Floating Driver</a>
            </td>
            <td>Floating output pin MPFS_DISCOVERY_KIT_MSS_0:FIC_1_DLL_LOCK_M2F</td>
        </tr>
        <tr>
            <td style="padding-left:20px">
                <img width="16" height="16" src="C:\Microchip\Libero_SoC_2025.1\Libero_SoC\Designer/data/drcreport\warn.png" alt="Warning" title="Warning"/>
            </td>
            <td>
                <a href="liberoaction://cross_probe/smartdesign/cpu_system/pins/MPFS_DISCOVERY_KIT_MSS_0:FIC_3_DLL_LOCK_M2F">Floating Driver</a>
            </td>
            <td>Floating output pin MPFS_DISCOVERY_KIT_MSS_0:FIC_3_DLL_LOCK_M2F</td>
        </tr>
        <tr>
            <td style="padding-left:20px">
                <img width="16" height="16" src="C:\Microchip\Libero_SoC_2025.1\Libero_SoC\Designer/data/drcreport\warn.png" alt="Warning" title="Warning"/>
            </td>
            <td>
                <a href="liberoaction://cross_probe/smartdesign/cpu_system/pins/MPFS_DISCOVERY_KIT_MSS_0:PLL_CPU_LOCK_M2F">Floating Driver</a>
            </td>
            <td>Floating output pin MPFS_DISCOVERY_KIT_MSS_0:PLL_CPU_LOCK_M2F</td>
        </tr>
        <tr>
            <td style="padding-left:20px">
                <img width="16" height="16" src="C:\Microchip\Libero_SoC_2025.1\Libero_SoC\Designer/data/drcreport\warn.png" alt="Warning" title="Warning"/>
            </td>
            <td>
                <a href="liberoaction://cross_probe/smartdesign/cpu_system/pins/MPFS_DISCOVERY_KIT_MSS_0:PLL_DDR_LOCK_M2F">Floating Driver</a>
            </td>
            <td>Floating output pin MPFS_DISCOVERY_KIT_MSS_0:PLL_DDR_LOCK_M2F</td>
        </tr>
        <tr>
            <td style="padding-left:20px">
                <img width="16" height="16" src="C:\Microchip\Libero_SoC_2025.1\Libero_SoC\Designer/data/drcreport\warn.png" alt="Warning" title="Warning"/>
            </td>
            <td>
                <a href="liberoaction://cross_probe/smartdesign/cpu_system/pins/MPFS_DISCOVERY_KIT_MSS_0:FIC_3_APB_M_PSTRB">Floating Driver</a>
            </td>
            <td>Floating output bus pin MPFS_DISCOVERY_KIT_MSS_0:FIC_3_APB_M_PSTRB[3:0]</td>
        </tr>
        <tr>
            <td style="padding-left:20px">
                <img width="16" height="16" src="C:\Microchip\Libero_SoC_2025.1\Libero_SoC\Designer/data/drcreport\warn.png" alt="Warning" title="Warning"/>
            </td>
            <td>
                <a href="liberoaction://cross_probe/smartdesign/cpu_system/pins/MPFS_DISCOVERY_KIT_MSS_0:MSS_INT_M2F">Floating Driver</a>
            </td>
            <td>Floating output bus pin MPFS_DISCOVERY_KIT_MSS_0:MSS_INT_M2F[15:0]</td>
        </tr>
        <tr>
            <td style="padding-left:20px">
                <img width="16" height="16" src="C:\Microchip\Libero_SoC_2025.1\Libero_SoC\Designer/data/drcreport\warn.png" alt="Warning" title="Warning"/>
            </td>
            <td>
                <a href="liberoaction://cross_probe/smartdesign/cpu_system/pins/MPFS_DISCOVERY_KIT_MSS_0:FIC_0_AXI4_TARGET"> bus interface ID width mismatch</a>
            </td>
            <td> There is an ID width mismatch between MPFS_DISCOVERY_KIT_MSS_0:FIC_0_AXI4_TARGET:FIC_0_AXI4_S_RID[0-3] and COREAXI4INTERCONNECT_C1_0:AXI4mslave0:SLAVE0_RID[0-1] which may result in a loss of data.</td>
        </tr>
    </table>
</body>
